footer{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  .row{
    background-image: url("../images/mb_lineup.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
  }

  .col-md{
    padding-top: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    ul{
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      padding: 0;
      li a{
        color: gray;
        font-size: 1rem;
      }
    }

    h3{
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      color: cornflowerblue;
      width: 10rem;
      border-bottom: 2px solid #37a6df;
    }
    .number{
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      color: cornflowerblue;
      align-self: center;
    }

    .brand{
      margin-bottom: 1rem;
      margin-top: 1rem;
      align-self: center;
    }
  }
}