footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer .row {
    background-image: url("../images/mb_lineup.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap; }
  footer .col-md {
    padding-top: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    footer .col-md ul {
      flex-direction: column;
      margin: 0;
      padding: 0; }
      footer .col-md ul li a {
        color: gray;
        font-size: 1rem; }
    footer .col-md h3 {
      padding-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      color: cornflowerblue; }
    footer .col-md .number {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      color: cornflowerblue;
      align-self: center; }
    footer .col-md .brand {
      margin-bottom: 1rem;
      margin-top: 1rem;
      align-self: center; }

.contact {
  padding-top: 2rem;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center; }
  .contact .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0; }
  .contact .container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    align-items: flex-start; }
  .contact .map {
    align-items: flex-start; }
    .contact .map h2 {
      margin-bottom: 1rem; }
  .contact .col-4, .contact .col-8 {
    min-width: 200px; }
  .contact .col-12 {
    padding-right: 0; }
  .contact h3 {
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: cornflowerblue; }
  .contact h4 {
    margin-top: 3rem;
    margin-bottom: 1rem; }
  .contact .number {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: cornflowerblue;
    align-self: center; }
  .contact .brand {
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-self: center; }
  .contact input, .contact textarea {
    margin-top: 1rem;
    width: 80%;
    border: 2px solid #37a6df;
    border-radius: 0.5rem;
    padding-left: 1rem; }
    .contact input:focus, .contact textarea:focus {
      outline: none; }
  .contact button {
    margin-top: 1rem;
    width: 50%;
    height: 4rem;
    background-color: #37a6df;
    color: white;
    border-radius: 1rem; }
  .contact input {
    height: 4rem; }
  .contact textarea {
    resize: none;
    height: 10rem; }
  .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contact ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center; }

.loginForm .col-12 {
  display: flex;
  justify-content: center;
  align-items: center; }

.loginForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 25rem; }

.main {
  display: flex;
  justify-content: center;
  align-content: center; }

nav {
  background-color: #37a6df;
  font-size: 1rem; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  margin-right: 1rem; }

.navbar-light .navbar-nav .nav-link.active {
  color: #9c2562; }

.container {
  max-width: 75rem;
  display: flex;
  justify-content: space-between; }

.gallery {
  max-width: 75rem;
  min-height: 25rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-content: stretch; }

.container ul {
  display: flex;
  list-style: none; }

.jumbotron {
  border-bottom: 2px solid cornflowerblue;
  height: 40rem;
  width: 100%;
  background-image: url("../images/cleaning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.row {
  width: 100%;
  min-height: 20rem; }

.homeButton {
  height: 1rem;
  width: 1rem;
  background-image: url("../images/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.gallery {
  display: flex;
  min-height: 20rem;
  width: 100%;
  justify-content: center;
  align-items: center; }

.galleryElement {
  display: flex;
  min-height: 20rem;
  justify-content: center;
  align-items: center; }
  .galleryElement a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .galleryElement a:hover {
      text-decoration: #007bff underline; }
  .galleryElement p {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1rem;
    color: cornflowerblue;
    text-align: center; }

.mainContent {
  min-height: 100rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.blog {
  border-top: 2px solid #ed5b31;
  max-width: 75rem;
  min-height: 30rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row; }
  .blog h2 {
    display: block;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: cornflowerblue;
    width: 100%; }
    .blog h2 span {
      color: #ed5b31;
      font-size: 1.5rem; }
  .blog a {
    color: black;
    min-height: 20rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .blog a:hover {
      text-decoration: #007bff underline; }
  .blog .col-md {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FCF9EE;
    box-shadow: 2px 2px 9px #C4BCC4;
    border-radius: 1rem; }
    .blog .col-md p {
      padding-left: 1rem;
      margin-bottom: 0.5rem; }
    .blog .col-md .theme {
      align-self: flex-start;
      color: #37a6df;
      padding-top: 1rem;
      font-size: 2rem; }
    .blog .col-md .date {
      align-self: flex-start;
      font-size: 0.8rem; }
    .blog .col-md .message {
      height: 70%;
      align-self: flex-end; }

button {
  background-color: inherit;
  border: none; }
